.container {
  display: flex;
}

.label {
  font-family: "Helvetica", sans-serif;
  font-size: 24px;
}

svg {
  width: 100%;
  height: auto;
}

.rotate {
  transform-origin: center;
  transform: rotate(-90deg);
}

.donut {
  stroke-dasharray: 440;
  -webkit-animation: donut 1s ease-out;
  animation: donut 1s ease-out;
}

@-webkit-keyframes donut {
  from {
    stroke-dashoffset: 440;
  }
}

@keyframes donut {
  from {
    stroke-dashoffset: 440;
  }
}
